# Compiled python
*.pyc
*.pyd

# Compiled MATLAB
*.mex*

# IPython notebook checkpoints
.ipynb_checkpoints

# Editor temporaries
*.swn
*.swo
*.swp
*~

# Sublime Text settings
*.sublime-workspace
*.sublime-project

# Eclipse Project settings
*.*project
.settings

# QtCreator files
*.user

# PyCharm files
.idea

# Visual Studio Code files
.vscode
.vs

# OSX dir files
.DS_Store

# Log files
*.log

# Dataset files
*.npy

# Parameters files
*.pkl
*.pt

# Mat files
*.mat

# Folder
data/
!data/.gitkeep
parameters/
!parameters/.gitkeep
debug/
logs/
!logs/.gitkeep